@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://wellsb.com/csharp/" target="_blank" class="ml-md-auto">C# Tutorials</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
