<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Fire Calculators</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="futurevalue">
                <span class="oi oi-dollar" aria-hidden="true"></span> Future Value
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fireage">
                <span class="oi oi-graph" aria-hidden="true"></span> FIRE Age
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
