@page "/"

<h2>Financial Independence and Early Retirement Tools</h2>
<div class="home-container">
    <p>
        These FIRE calculators were created by <a href="https://wellsb.com/" target="_blank">Bradley Wells</a> using Blazor,
        a .NET technology that allows you to build dynamic web applications using C# instead of JavaScript.
    </p>
    <p>
        The project source code is <a href="https://github.com/bradwellsb/blazor-fire-calculators" target="_blank">available on GitHub</a>.
        This is a client-side Blazor app that runs in the browser with WebAssembly.
    </p>
    <NavLink class="nav-link" href="futurevalue">
        <span class="oi oi-chevron-right" aria-hidden="true"></span> Future Value Calculator
    </NavLink>
    <NavLink class="nav-link" href="fireage">
        <span class="oi oi-chevron-right" aria-hidden="true"></span> FIRE Age Calculator
    </NavLink>
    <br />
    <h3>What is FIRE?</h3>
    <p>
        <strong>FIRE</strong> stands for <strong>F</strong>inancial <strong>I</strong>ndependence, <strong>R</strong>etire <strong>E</strong>arly.
        Financial independence means you no longer have to work for a living.
        When you have enough income (from investments, real estate, passive business, etc) to pay for your living expenses for the rest of your life,
        you are financially independent.
    </p>
    <h4>How do I become Financially Independent?</h4>
    <ul>
        <li>
            Spend Less
        </li>
        <li>
            Save More
        </li>
        <li>
            Earn More
        </li>
    </ul>
    <h4>When will I be FI?</h4>
    <p>
        An important part of the path toward FI is to save as much money as you can, and let that money work for you. 
        Passive index fund investing is a great way to get more out of the money you save. 
        A widely accepted rule of thumb is known as the 4% rule or <strong>Safe Withdrawal Rate</strong> (SWR). 
        When you have enough saved that you can withdraw and live off of 4% (or less) of your total investments each year, you may be financially independent. 
        In general, if you follow the SWR principle, you can expect your portfolio to grow by a faster rate than the amount you withdraw each year.
    </p>

</div>
